# ===============================
# Build output
# ===============================
build/
*.o
*.d
*.elf
*.hex
*.bin
*.map
*.lst

# ===============================
# ARM / GCC temp files
# ===============================
*.i

# ===============================
# Editor / IDE
# ===============================
.vscode/
.idea/
*.swp
*.bak
*.tmp
